.login-container {
    @media (min-width: 992px) {
        background: linear-gradient(90deg, #fff 60%, #e4e6eb 40%);
        width: 100vw;
        height: 100vh;
    }
}

.pages-login {
    height: 100vh;

    .btn-login {
        font-family: Assistant;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #fff;
    }

    label {
        font-family: Assistant;
        font-weight: 300;
        font-size: 18px;
        text-align: left;
        color: #071c4d;
    }

    .section-left {
        h1 {
            font-family: "Playfair Display";
            font-weight: bold;
            font-size: 50px;
            text-align: left;
            color: #071c4d;
        }
    }

    .section-right {
        a {
            font-family: Assistant;
            font-weight: 300;
            text-decoration: underline;
            font-size: 16px;
            text-align: center;
            color: #bfbfbf;
        }
    }
}
