body {
  background-color: #fff;
  font-family: "Assistant" sans-serif;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
}

.btn-login:hover {
  background-color: #082a78;
  color: #fff;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -32px !important;
  height: 70px;
  border-radius: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
}

header {
  padding: 180px 0 165px;
  color: #fff;
  background-image: url("../images/banner@2x.png");
  background-size: cover;
  margin-top: -70px;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
  font-family: "Assistant" sans-serif;
}

header .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
  height: 45px;
  font-size: 20px;
}

section {
  margin-top: -50px;
}

section .statis-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}

section h2 {
  font-size: 30px;
  margin-bottom: 0;
}

section p {
  font-size: 20px;
  font-weight: lighter;
}

.section-populer {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -250px;
}

.section-pupuler-heading {
  margin-top: 150px;
}

.section-pupuler-heading h2,
.section-pupuler-heading p {
  color: #fff;
}

.section-pupuler-heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: bold;
}

.section-pupuler-heading p {
  margin-top: 14px;
  font-family: "Assistant" sans-serif;
  font-size: 18px;
}

.populer-content .popular-travel .card-travel {
  min-height: 380px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.populer-content .travel-country {
  font-size: 18px;
}

.populer-content .travel-location {
  font-size: 26px;
}

.populer-content .travel-button .btn-travel-detail {
  background-color: #ff9e53;
  color: #fff;
  font-size: 20px;
}

.populer-content .travel-button .btn-travel-detail:hover {
  background-color: #ffbb87;
}

.section-network {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 100px;
}

.section-network h2 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 40px;
}

.section-network img {
  max-width: 100%;
}

.section-network p {
  font-family: "Assistant";
  font-weight: normal;
  font-size: 18px;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6feff), to(#f7f9ff));
  background: linear-gradient(#f6feff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-family: "Assistant";
  font-weight: normal;
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  margin-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .testimonal-content {
  min-height: 380px;
}

.section-testimonial-content h3 {
  font-family: Assistant;
  font-weight: 600;
  font-size: 22px;
}

.section-testimonial-content .testimonial {
  font-family: Assistant;
  font-weight: 300;
  font-size: 26px;
  color: #6e6e6e;
  min-height: 150px;
}

.section-testimonial-content .trip-to {
  font-family: Assistant;
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-footer {
  background-color: #fff;
}

.section-testimonial-content img {
  height: 120px;
  width: 120px;
}

.section-testimonial-content .btn-get-sarted {
  background-color: #ff9e53;
  color: #fff;
  width: 170px;
  height: 45px;
  font-size: 20px;
  margin-top: 70px;
}

.section-testimonial-content .btn-get-sarted:hover {
  background-color: #f79042;
  color: #fff;
}

.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
  width: 170px;
  height: 45px;
  font-size: 20px;
  margin-top: 70px;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #c0c0c0;
  color: #ffffff;
}

.section-footer h5 {
  font-family: Assistant;
  font-weight: 600;
  font-size: 22px;
  color: #071c4d;
}

.section-footer .list-unstyled a {
  font-family: Assistant;
  color: #071c4d;
  font-weight: normal;
  font-size: 18px;
}

.copyright {
  font-family: Assistant;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #6e6e6e;
  min-height: 50px;
}
/*# sourceMappingURL=main.css.map */