body {
    background-color: #fff;
    font-family: "Assistant" sans-serif;
}

// NAVBAR STYLE

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.btn-login {
    background-color: #071c4d;
    color: #fff;

    &:hover {
        background-color: #082a78;
        color: #fff;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -32px !important;
    height: 70px;
    border-radius: 0;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;
            &.active {
                font-weight: bold;
            }
        }
    }
}

// BANNER
header {
    padding: 180px 0 165px;
    color: #fff;
    background-image: url("../images/banner@2x.png");
    background-size: cover;
    margin-top: -70px;
    h1 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
        font-family: "Assistant" sans-serif;
    }

    .btn-get-started {
        background-color: #ff9e53;
        color: #fff;
        height: 45px;
        font-size: 20px;
    }
}

// STATISTIC
section {
    margin-top: -50px;

    .statis-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// WISATA POPULER
.section-populer {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -250px;
}

.section-pupuler-heading {
    margin-top: 150px;

    h2,
    p {
        color: #fff;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 40px;
        font-weight: bold;
    }
    p {
        margin-top: 14px;
        font-family: "Assistant" sans-serif;
        font-size: 18px;
    }
}

.populer-content {
    .popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
    }

    .travel-country {
        font-size: 18px;
    }

    .travel-location {
        font-size: 26px;
    }

    .travel-button {
        .btn-travel-detail {
            background-color: #ff9e53;
            color: #fff;
            font-size: 20px;

            &:hover {
                background-color: #ffbb87;
            }
        }
    }
}

// OUR NETWORK
.section-network {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 100px;

    h2 {
        font-family: "Playfair Display";
        font-weight: bold;
        font-size: 40px;
    }

    img {
        max-width: 100%;
    }
    p {
        font-family: "Assistant";
        font-weight: normal;
        font-size: 18px;
    }
}

// TESTIMONIAL
.section-testimonial-heading {
    background: linear-gradient(#f6feff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: "Playfair Display";
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-family: "Assistant";
        font-weight: normal;
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    margin-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
    }
    .testimonal-content {
        min-height: 380px;
    }
    h3 {
        font-family: Assistant;
        font-weight: 600;
        font-size: 22px;
    }

    .testimonial {
        font-family: Assistant;
        font-weight: 300;
        font-size: 26px;
        color: #6e6e6e;
        min-height: 150px;
    }

    .trip-to {
        font-family: Assistant;
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
    }

    .card-footer {
        background-color: #fff;
    }

    img {
        height: 120px;
        width: 120px;
    }

    // btn
    .btn-get-sarted {
        background-color: #ff9e53;
        color: #fff;
        width: 170px;
        height: 45px;
        font-size: 20px;
        margin-top: 70px;

        &:hover {
            background-color: #f79042;
            color: #fff;
        }
    }
    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;
        width: 170px;
        height: 45px;
        font-size: 20px;
        margin-top: 70px;

        &:hover {
            background-color: #c0c0c0;
            color: #ffffff;
        }
    }
}

// FOOTER
.section-footer {
    h5 {
        font-family: Assistant;
        font-weight: 600;
        font-size: 22px;
        color: #071c4d;
    }
    .list-unstyled {
        a {
            font-family: Assistant;
            color: #071c4d;
            font-weight: normal;
            font-size: 18px;
        }
    }
}

.copyright {
    font-family: Assistant;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #6e6e6e;
    min-height: 50px;
}
